<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>NHN Mart 고객센터</h1>

<h2>User Index Page</h2>

<div>
    <a href="/user/register">문의하기</a>
</div>

</br>
</br>

<a href="/logout">로그아웃</a>

<h1>나의 문의 글 목록</h1>
<div style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column">
        <table>
            <thead>
            <tr>
                <td width="80px">번호</td>
                <td width="200px">작성자</td>
                <td>제목</td>
                <td width="120px">분류</td>
                <td width="200px">등록일</td>
                <td width="100px">답변 여부</td>
            </tr>
            </thead>
        </table>
    </div>
</body>
</html>